name: Code Checks

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
    deploy:
        name: Code checks
        runs-on: ubuntu-latest
        steps:
            - name: Checkout project
              uses: actions/checkout@v3

            - name: Setup node
              uses: actions/setup-node@v3
              with:
                  node-version: 18.x

            - name: Install dependencies
              run: yarn install --immutable --immutable-cache --check-cache --frozen-lockfile

            - name: Run tests
              run: yarn test

            - name: Run linter
              run: yarn lint

            - name: Run typescript
              run: npx tsc

